
<!-- 
nav {
  position:fixed;left:60px;

} -->


<aside>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">


    <ul>
      {% for link in site.navigation %}
        {% if link.glossary == true %}
            <li class="glossary-toggle">
              <a href="#glossary">{{ link.text }}</a>
            </li>
        {% elsif link.internal == true %}
            <li>
              <a href="{{ site.baseurl }}/{{ link.url }}">{{ link.text }}</a>
            </li>
        {% else %}
            <li>
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
        {% endif %}
      {% endfor %}

<br>
 <div style="float:left;">
<a class="twitter-timeline" data-width="380" data-height="500" data-theme="dark" data-link-color="#bf0000" href="https://twitter.com/DMPEDDC">Tweets by DMPEDDC</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<br>

<div style="float:left;">
<h2>Photo of the Week</h2>

<iframe src="https://www.instagram.com/p/BQmHH1UDKXK/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Community members discussing their priorities for the Eastern Branch Boys &amp; Girls Club RFP. Catch some of the highlights on our Facebook page. #dmpeddelivers</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by DMPED (@dmped) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-02-17T02:11:56+00:00">Feb 16, 2017 at 6:11pm PST</time></p></div>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script> </iframe>
</div>
  </ul>   
  </nav>
</aside>